<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title class="title">
      SQLite
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Adicione algo: " [(ngModel)]="item" name="item">
    </ion-input>
    <ion-button (click)="create()" fill="outline" color="dark">
      <ion-icon name="add-outline" slot="icon-only"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list class="items">
    <ion-item *ngFor="let item of items">
      <ion-label>
        Item: {{ item }}
      </ion-label>
      <ion-button slot="end" fill="outline" (click)="update(item)" color="dark">
        <ion-icon slot="icon-only" name="pencil-outline" color="dark"></ion-icon>
      </ion-button>
      <ion-button slot="end" fill="outline" (click)="delete(item)" color="danger">
        <ion-icon slot="icon-only" name="trash-outline" color="danger"></ion-icon>
      </ion-button>
    </ion-item>
  </ion-list>
</ion-content>