<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      testando banco
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-item>
    <ion-input label="Linguagem de programação: "
    [(ngModel)]="language" name="language">
    </ion-input>
    <ion-button (click)="create()">
      <ion-icon name="add-outline"></ion-icon>
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item-sliding *ngFor="let language of languages">
      <ion-item>
        <ion-label>
          {{ language }}
        </ion-label>
      </ion-item>
      <ion-item-option color="warning" (click)="update(language)">
        <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
      <ion-item-option color="danger" (click)="delete(language)">
        <ion-icon name="trash-outline" slot="icon-only"></ion-icon>
      </ion-item-option>
    </ion-item-sliding>
  </ion-list>

</ion-content> 